{include file="header.tpl" noSidebar="true"}
<div>
<table border=1 width="95%">
<tr>
	<th width="200">Login</th>
	<th>k_Перегляд</th>
	<th>k_Коментар</th>
	<th>kГолос</th>
	<th>Базова кількість балів</th>
	<th>Рейтинг</th>
	<th>k_Рейтинг</th>
	<th>Цінність</th>
</tr>
{$totalSum};
{foreach from=$aTopicStats item=oTopic}
<tr>
	<td>{$oTopic['topic']->getTitle()}</td>
	<td>{$oTopic['views']}</td>
	<td>{$oTopic['comments']}</td>
	<td>{$oTopic['votes']}</td>
	<td>{$oTopic['totalRating']}</td>
	<td>{$oTopic['topic']->getUser()->getRating()}</td>
	<td>{$oTopic['kRating']}</td>
	<td>{$oTopic['norm_rating']}</td>
</tr>
{/foreach}
</table>
</div>
{include file="footer.tpl" noSidebar="true"}